/* UNIVERSAL ATRIBUTES */

/* color space between #f2eae7, #ad4b4c*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:visited, a:active, a:hover {
    font-style: normal;
    text-decoration: none;
    color: inherit;
}

html {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #ad4b4c;
}


body {
    background-color: #f2eae7;
}

h1 {
    font-size: 1.25rem;
}

h2 {
    font-family: "Allura";
    font-size: 3em;
    color:#f2eae7;
}

h3 {
    font-size: 1.10rem;
}

h4 {
    font-size: 1rem;
    font-weight: lighter;
}

h1, h3, h4 {
    text-transform: uppercase;
}

/* header and nav bar */

header {
    background-color: #f2eae7;
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #ad4b4c;
    padding: 1%;
    z-index: 5;
}

header img {
    height: 1rem;
    margin: 0 0.35rem;
}

header h1, header h4 {
    display: inline;
}

nav {
    float: right;
    margin-top: 0.2rem;
}

nav li {
    display: inline;
    text-transform: uppercase;
    margin: 0 0.5rem;
}

nav li:hover {
    text-decoration: underline;
}

/* banner section */

.banner {
    margin-top: 2.3rem;
    width: 100%;
    height: 20rem;
    background-image: url("./resources/images/coffeebeans.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.banner img {
    margin-bottom: -115px;
    border-radius: 50%;
    height: 230px;
}

/* products section */

.container {
    width: 80%;
    margin: auto;
    margin-top: 4rem;
}

.margin {
    margin-top: 8rem;
}

.quote {
    text-align: center;
    font-family: "Allura";
    font-size: 2.3rem;
}

.flex {
    width: 100%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-flow: row;
    flex-wrap: wrap;
}

.card {
    flex: 1 1 20%;
    display: flex;
    margin: 1rem;
    padding: 1rem;
    flex-flow: column;
    border-radius: 1.3rem;
    justify-content: flex-start;
    align-items: center;
    background-color: #ad4b4c99;
}

.img_container {    
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_container img {
    width: 100%;  
    border-radius: 1rem;
}

.caption {
    margin-top: 1.2rem;
    font-size: 1.1rem;
    text-align: center;
    line-height: 2;
    color: #f2eae7;
}



/* coffee roasting section */

.roast_section {    
    width: 100%;
    height: 900px;
    margin-top: 4rem;
    background-image: url("./resources/images/coffeeroastbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.roast_container {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.roast_article {
    width: 40%;
    margin: 1rem;
    background-color: #ad4b4c99;
    text-align: center;
    border-radius: 1rem;
    padding: 3%;
}

.roast_article p {
    color: #f2eae7;
    font-size: 1.4em;
    line-height: 1.5;
    margin-top: 1rem;
}

.subs_bttn {
    width: fit-content;
    background-color: #f2eae7;
    color: #ad4b4c;
    border-radius: 0.7rem;
    font-family: "Allura";
    font-size: 2em;
    padding: 1rem;
    margin: 1rem auto;
    font-weight: 600;
}

.subs_bttn:hover {    
    background-color: #ad4b4c;
    color: #f2eae7;
    cursor: pointer;
}


/* team section */
  /* reuse the containers and cards from products section */

.container h4 {
    text-align: center;
    margin-top: 1rem;
}

#teamflex .card {
    flex: 1 1 13%;
}

#teamflex .card h2 {
    margin-top: 1.5rem;
}

#teamflex .card .caption {
    font-size: 1rem;
}


/* locations section */

.locations {
    width: 100%;
    background-color: #ad4b4c;
    padding: 2rem 0;
    margin-top: 4rem;
}

.locations h1 {
    text-align: center;
    color: #f2eae7;
    margin-top: 2rem;
}

.locations .container {
    margin-top: 2rem;
}

#locations .card {
    background-color:#f2eae7;
}

#locations .card h3 {
    text-align: center;
    margin: 2rem;
}

#locations .card .img_container {
    height: auto;
}

.contacts {
    margin-top: 1.5rem;
    font-weight: 600;
}

/* footer */

footer {
    float: bottom;
    bottom: 0;
    text-align: center;
    padding: 1.5rem;
}


/* responsiveness modifications */


@media only screen and (max-width: 1900px) {
    .container {
        width: 100%;
    }
} 


@media only screen and (max-width: 1700px) {

    html {
        font-size: 14px;
    }

    .roast_section {    
        height: auto;
        padding: 5%;
        background-image: url("./resources/images/coffeeroast.jpg");
    }

    .roast_container {
        justify-content: center;
    }

    .roast_article {
        width: 80%;
    }
}

@media only screen and (max-width: 1340px) {

    .container h4, .container .quote {
        margin-left: 10px;
        margin-right: 10px;
    }

    #teamflex .card {
        flex: 1 1 25%;
    }

    .roast_article {
        width: 95%;
        font-size: 0.8rem;
    }

}

@media only screen and (max-width: 1000px) {
    #products .flex .card {
        flex: 1 1 40%;
    }

    
    .roast_section {    
        padding: 0;        
    }


    .roast_container {
        width: 100%;
    }
    

    .roast_article {
        width: 100%;
        font-size: 0.8rem;
        margin: 0;
        border-radius: 0;
    }

}

@media only screen and (max-width: 600px) {

    nav {
        float:none;
        margin: 0.5rem auto;
    }

    header {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    header .logo {
        width: 80%;
        margin: 0.2rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #ad4b4c; 
        text-align: center;
    }

    nav ul {
        width: 100%;
        margin-top: 0.2rem;
        display: flex;
        flex: 1 1 30%;
        flex-wrap: nowrap;
    }


    #products .flex .card {
        flex: 1 1 80%;
    }
    

    #teamflex .card {
        flex: 1 1 40%;
    }

}


@media only screen and (max-width: 450px) {
    #teamflex .card .caption {
        display: none;
    }
}

@media only screen and (max-width: 325px) {
    .logo h4 {
        display: none;
    }

    .contacts {
        font-size: 0.8rem;
    }
}