/* GLOBAL */

/* colors - dark blue: #00131f, light caramel: #e7c899, dark caramel: #b78050 */
/* font family: Anton for headings, Abel for text */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Abel", sans-serif;
}

html {
    font-size: 20px;
}

body {
    background-color: #00131f;
}

h1, h2, h3, h4 {
    font-family: "Anton", sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color:#e7c899;
}

h4 {
    font-family: "Abel", sans-serif;
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

 a a:active, a:hover, a:visited, a:link {
    text-decoration: none;
    color: inherit;
}

p {
    color: #e7c899;
}

/* --- structure --- */ 


/* banner, splash and nav */

.splash {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.framelines {
    color: #e7c899;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

hr {
    height: 7px;
    margin: 1rem 0;
    width: 500px;
}

.left hr {
    background: linear-gradient(to left, #e7c899, #b78050);
}

.right hr {
    background: linear-gradient(to left, #b78050, #e7c899);
}

.right {
    align-items: flex-end;
}

.left {
    align-items: flex-start;
}

.splash img {
    height: 15rem;
}


/* welcome section */

.welcome {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 1rem;
    text-align: center;
    padding-bottom: 1.5rem;
}

.welcome h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.welcome p {
    font-size: 1.2rem;
}

/* upcoming events */

.events {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: row;
}

.events_article {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
}

.article_bg {    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    padding: 1rem;
}

.article_container {
    text-align: center;
    font-weight: 600;
}

.article_container h2 {
    margin-bottom: 1rem;
}

.road_trip2025 {
    background-image: url("./resources/images/events_to_come/instambul.jpg");
    grid-area: 1 / 1 / 1 / span 6;
}

.road_trip2025 h2, .road_trip2025 h4, .road_trip2025 p {
    color:#e7c899;
}

.road_trip2025 .article_bg {
    background-color: #50753fcc;
}

.road_trip2025 .article_bg:hover {
    background-color: #50753f77;
}

.road_trip2024 {
    background-image: url("./resources/images/events_to_come/italy.jpg");
    grid-area: 1 / 7 / 1 / span 6;
}

.road_trip2024 h2, .road_trip2024 h4, .road_trip2024 p {
    color:#a5020d;
}

.road_trip2024 .article_bg {
    background-color: #92b4bdcc;
}

.road_trip2024 .article_bg {
    background-color: #92b4bdcc;
}

.road_trip2024 .article_bg:hover {
    background-color: #92b4bd77;
}

.next_meet {
        background-image: url("./resources/images/events_to_come/nextmeet.jpg");
        grid-area: 2 / 1 / 3 / 5;
    
}

.next_meet h2, .next_meet h4, .next_meet p {
    color:white;
}

.next_meet .article_bg {
    background-color: #b78050cc;
}

.next_meet .article_bg:hover {
    background-color: #b7805077;
}


.month_vespa {
    background-image: url("./resources/images/articles/vespamonth.jpg");
    grid-area: 2 / 5 / 3 / span 4;

}

.month_vespa h2, .month_vespa h4, .month_vespa p {
color:white;
}

.month_vespa .article_bg {
    background-color: #98a0b1cc;
    }

.month_vespa .article_bg:hover {
background-color: #98a0b177;
}


.theme_event {
    background-image: url("./resources/images/past_events/thematicmeet.jpg");
    grid-area: 2 / 9 / 3 / span 4;

}

.theme_event h2, .theme_event h4, .theme_event p {
color:white;
}

.theme_event .article_bg {
    background-color: #415f93cc;
    }

.theme_event .article_bg:hover {
background-color: #415f9377;
}


.past_events {
    background-image: url("./resources/images/past_events/meetup3.jpg");
    grid-area: 3 / 1 / 4 / span 3;

}

.past_events h2, .past_events h4, .past_events p {
color:#ffeed5;
}

.past_events .article_bg {
    background-color: #00131fcc;
    }

.past_events .article_bg:hover {
background-color: #00131f77;
}


.members {
    background-image: url("./resources/images/articles/members.jpg");
    grid-area: 3 / 4 / 4 / span 3;

}

.members h2, .members h4, .members p {
color:#ffeed5;
}

.members .article_bg {
    background-color: #00131fcc;
    }

.members .article_bg:hover {
background-color: #00131f77;
}


.forum {
    background-image: url("./resources/images/articles/forum2.jpg");
    grid-area: 3 / 7 / 4 / span 3;

}

.forum h2, .forum h4, .forum p {
color:#ffeed5;
}

.forum .article_bg {
    background-color: #00131fcc;
    }

.forum .article_bg:hover {
background-color: #00131f77;
}



.about {
    background-image: url("./resources/images/articles/vespa2.jpg");
    grid-area: 3 / 10 / 4 / span 3;

}

.about h2, .about h4, .about p {
color:#ffeed5;
}

.about .article_bg {
    background-color: #00131fcc;
    }

.about .article_bg:hover {
background-color: #00131f77;
}


.newsletter {
    width: 100%;
    background-image: url("./resources/images/vespabg2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter_container {
    width: 100%;
    padding: 4rem;
    text-align: center;
}

.newsletter h5 {
    background-color: #b78050;
    width: fit-content;
    padding: 1rem;
    color: #00131f;
    text-transform: uppercase;
    margin: 0 auto;
}

.newsletter p {
    margin: 1rem;
}

.newsletter h5:hover {
    background-color: #e7c899;
}